<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.uc.letseat">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Lets Eat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsEat"
        android:usesCleartextTraffic="true">

        <!-- Launcher (First screen when app opens) -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Signup Screen -->
        <activity android:name=".ui.SignupActivity" />

        <!-- Main Screen (after login) -->
        <activity android:name=".ui.MainActivity" />

        <!-- Hotel / Restaurant List -->
        <activity android:name=".ui.HotelListActivity" />

        <!-- Menu (Restaurant food items) -->
        <activity android:name=".ui.MenuActivity" />

        <!-- Cart -->
        <activity android:name=".ui.CartActivity" />

        <!-- Checkout -->
        <activity android:name=".ui.CheckoutActivity" />

        <!-- Order Status -->
        <activity android:name=".ui.OrderStatusActivity" />

    </application>

</manifest>
