<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.uc.letseat">

    <application
        android:allowBackup="true"
        android:label="Lets Eat"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsEat">

        <!-- ADD THIS ⭐⭐ -->
        <activity android:name=".ui.LocationActivity" />

        <!-- Launcher -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Google Login -->
        <activity android:name=".ui.GoogleLoginActivity" />

        <!-- CUSTOMER SCREENS -->
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.HotelListActivity" />
        <activity android:name=".ui.MenuActivity" />
        <activity android:name=".ui.CartActivity" />
        <activity android:name=".ui.CheckoutActivity" />
        <activity android:name=".ui.WaitingActivity" />

        <!-- OWNER -->
        <activity android:name=".owner.OwnerLoginActivity" />
        <activity android:name=".owner.OwnerOrdersActivity" />

        <!-- DRIVER -->
        <activity android:name=".driver.DriverLoginActivity" />
        <activity android:name=".driver.DriverOrdersActivity" />

    </application>

</manifest>
